[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git://github.com/xolox/vim-misc
[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "bundle/vim-session"]
	path = bundle/vim-session
	url = git://github.com/xolox/vim-session
[submodule "bundle/vim-shell"]
	path = bundle/vim-shell
	url = git://github.com/xolox/vim-shell
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = git://github.com/mhinz/vim-startify

[submodule "bundle/vim-sleuth"]
	path = bundle/vim-sleuth
	url = git://github.com/tpope/vim-sleuth
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic
[submodule "bundle/vim-ps1"]
	path = bundle/vim-ps1
	url = git://github.com/PProvost/vim-ps1
